<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/user.css">
    <style>
        .layui-input-block{
            line-height: 36px;
            color: #2D93CA;
        }
        .layui-form-item .layui-inline{
            width: 300px;
            height: 30px;
        }
        .img{
            margin-top: -18px;
        }
        .sex{
            width: 322px;
        }
        .class{
            border: none;
            color: cadetblue;
        }
        .lun{
            margin-top: -2px;
        }
    </style>
</head>
<body>
<!--主内容区-->
<div>
    <!--主内容区域-->
    <form class="layui-form" id="formUser" lay-filter="formUser" style="margin: 20px;"
          autocomplete="off">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <img src="/images/uploadImg.png " height="200" width="221" name="userHead" id="userPicture1"/>
                </div>
                <div class="layui-col-md9">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">登录名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userAccount" lay-verify="userName" class="layui-input class">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">性别：</label>
                            <div class="layui-input-block sex">
                                <input type="text" id="userSex" class="layui-input class lun">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">手机：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userPhone" lay-verify="phoneNr" class="layui-input class">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" lay-verify="userName" class="layui-input class">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">身份证号:</label>
                            <div class="layui-input-block">
                                <input type="text" name="userIdentification" lay-verify="idCard" class="layui-input class">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: end;padding-right: 220px">
            <button type="button" class="layui-btn layui-bg-red" id="btn_log_off">注销</button>
            <button type="button" class="layui-btn layui-bg-orange" id="updatePassword">修改密码</button>
            <button type="button" class="layui-btn layui-bg-blue" id="updateProfile">完善信息</button>
        </div>
    </form>
</div>
<!--弹出层-->
<div>
    <!--文件选择框-->
    <div style="display: none" id="upPortraitDiv">
        <div>
            <input type="file" hidden th:name="portrait" id="upPortrait"><!--上传文件头像文本框-->
        </div>
    </div>

    <form class="layui-form" id="formInsert" lay-filter="formInsert" style="display: none;margin: 20px;overflow: hidden"
          autocomplete="off">
        <!--存放修改的信息id-->
        <input type="hidden" name="userId">

        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <img src="/images/uploadImg.png " height="200" width="221" name="userHead" id="userPicture"/>
                </div>
                <div class="layui-col-md9">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">登录名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userAccount" lay-verify="userName" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">性别：</label>
                            <div class="layui-input-block sex">
                                <input type="radio" name="userSex" value="0" lay-verify="requiredRadioCheckbox"
                                       title="未知">
                                <input type="radio" name="userSex" value="1" lay-verify="requiredRadioCheckbox"
                                       title="男">
                                <input type="radio" name="userSex" value="2" lay-verify="requiredRadioCheckbox"
                                       title="女">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">手机：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userPhone" lay-verify="phoneNr" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" lay-verify="userName" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">身份证号:</label>
                            <div class="layui-input-block">
                                <input type="text" name="userIdentification" lay-verify="idCard" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--按钮-->
        <div class="layui-btn-container" style="text-align: end">
            <button type="button" class="layui-btn" lay-submit lay-filter="formUserSubmit">提交</button>
            <button type="reset" class="layui-btn layui-btn-warm">重置</button>
        </div>
    </form>
</div>
<!--修改密码弹出层-->
<div>
    <form class="layui-form" id="formEditPassword" style="display: none;margin: 20px;" autocomplete="off">

        <input type="reset" hidden>
        <div style="padding: 20px;">
            <label>
                输 入 原 密 码
                <input type="password" id="oldPassword">
                <label id="oldTips"></label>
            </label>
        </div>
        <div style="padding: 20px;">
            <label>
                输 入 新 密 码
                <input type="password" id="newPassword" disabled>
            </label>
        </div>
        <div style="padding: 20px;">
            <label>
                确 认 新 密 码
                <input type="password" id="confirmPassword" disabled>
            </label>
        </div>

        <div class="layui-btn-container" style="text-align: center">
            <button type="button" class="layui-btn" id="btn_editPassword">确认</button>
            <button type="reset" class="layui-btn layui-bg-red">重置</button>
        </div>
    </form>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/js/layuiVerifyExt.js" charset="utf-8"></script>
<script type="text/javascript">
    var layer;
    let layuiIndexform;
    layui.use(()=>{
        layer = layui.layer;
        form = layui.form;


        //开始页面回填图片
        $.post('/profile/selectUserById',(jsonMsg)=>{
            //数据正常
            if (jsonMsg.state){
                //回填数据
                form.val('formUser',jsonMsg.data);
                if (jsonMsg.data.userSex==0){
                    $('#userSex').val("未知")
                }else if(jsonMsg.data.userSex==1){
                    $('#userSex').val("男")
                }else{
                    $('#userSex').val("女")
                }
                if (jsonMsg.data.userHead!=undefined && jsonMsg.data.userHead!=null && jsonMsg.data.userHead!=""){
                    $("#userPicture1").prop("src",'/home/getPortraitImage/'+jsonMsg.data.userHead);
                }else {
                    $("#userPicture1").prop("src",'/images/uploadImg.png');
                }
            }else{
                layer.msg(jsonMsg.msg,{icon:5});
            }
        });

        //注册表单验证规则
        form.verify(formVerifyExt);

        /*打开修改信息弹出层*/
        $("#updateProfile").click(()=>{
            //重置表单
            $('#formInsert [type="reset"]').click();
            //清空文件选择框
            document.getElementById("upPortrait").outerHTML=document.getElementById("upPortrait").outerHTML;
            //回填数据
            $.post('/profile/selectUserById',(jsonMsg)=>{
                //数据正常
                if (jsonMsg.state){

                    form.val('formInsert',jsonMsg.data);
                    //回填数据
                    if (jsonMsg.data.userHead!=undefined && jsonMsg.data.userHead!=null && jsonMsg.data.userHead!=""){
                        $("#userPicture").prop("src",'/home/getPortraitImage/'+jsonMsg.data.userHead);
                    }else {
                        $("#userPicture").prop("src",'/images/uploadImg.png');
                    }

                }else{
                    layer.msg(jsonMsg.msg,{icon:5});
                }
            });
            layuiIndexform = layer.open({
                type: 1,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                skin:'layui-layer-molv',
                offset: ['100px','100px'],//弹出垂直水平居中
                area: ['1000px', '350px'],
                anim: 4,
                title:'修改用户信息',
                content:$("#formInsert"),
                cancel:()=>{
                    layer.closeAll();
                }
            })
        })

        /*打开修改密码弹出层*/
        $("#updatePassword").click(()=>{
            $('#formEditPassword [type="reset"]').click();//重置表单
            //弹出层
            layerIndexForm = layer.open({
                type:1,
                skin: "layui-layer-white",
                offset: ['70px','380px'],//弹出垂直水平居中
                area: ["500px", "400px"],
                anim: 4,
                title: "修改密码",
                content: $("#formEditPassword"),
                cancel: function () {
                    $('#formEditPassword [type="reset"]').click();//重置表单
                    //禁用新密码和确认密码
                    $("#newPassword").attr("disabled", "disabled");
                    $("#confirmPassword").attr("disabled", "disabled");
                },
                success: function () {
                    $("#oldTips").text("");
                    $('#formEditPassword [type="reset"]').click();//重置表单
                }
            });
        });

        //高亮效果（修改密码输入框）
        $("#newPassword").focus(function () {
            $(this).css("border", "1px deepskyblue solid");
        })

        //移除高亮效果（修改密码输入框）
        $("#confirmPassword").blur(function () {
            $(this).css("border", "1px #ccc solid");
        })

        /*原密码失去焦点时间*/
        $("#oldPassword").blur(()=>{
            //获取输入的密码
            let oldPassword=$("#oldPassword").val();
            $.post("/profile/selectPassword",{oldPassword:oldPassword},(jsonMsg)=>{
                if (jsonMsg.state){
                    //打印密码
                    console.log(jsonMsg.data);
                    if (jsonMsg.code==0){
                        //启用新密码和确认密码
                        $("#newPassword").removeAttr("disabled");
                        $("#confirmPassword").removeAttr("disabled");
                        //成功显示绿色文字添加
                        $("#oldTips").text("密码正确");
                        $("#oldTips").removeClass("text-danger").addClass("text-success");
                    }else if (jsonMsg.code==1){
                        //禁用新密码和确认密码
                        $("#newPassword").attr("disabled", "disabled");
                        $("#confirmPassword").attr("disabled", "disabled");
                        //失败显示红色文字添加
                        $("#oldTips").text("密码错误");
                        $("#oldTips").removeClass("text-success").addClass("text-danger");
                    }
                }else {
                    layer.msg(jsonMsg.msg,{icon:5});
                }
            })
        })

        //提交修改的密码
        $("#btn_editPassword").click(()=>{
            //获取新密码
            let newPassword = $("#newPassword").val();
            //获取确认密码
            let confirmPassword = $("#confirmPassword").val();
            if (newPassword != confirmPassword){
                layer.msg("新密码和确认密码不一致");
                return false;
            }

            //打开加载层
            let layuiIndex = layer.load();
            //发送数据
            $.post('/profile/updatePassword',{
                newPassword:newPassword
            },(jsonMsg)=>{
                //关闭加载层
                layer,close(layuiIndex);
                if (jsonMsg.state){
                    //修改成功
                    layer.msg(jsonMsg.msg,{icon:6});
                    //关闭弹出层
                    //重新登陆
                    layer.confirm('你已经修改过密码，请重新登陆', {icon: 3, title:'提示'}, function(index){
                        layer.close(index);//关闭询问框
                        $.post("/home/loginOut",function (){
                            window.location.replace('/login');//跳转页面
                        })
                    });
                }else {
                    //修改失败
                    layer.msg(jsonMsg.msg,{icon:5});
                    //重置表单
                    $('#formEditPassword [type="reset"]').click()
                }
            });
        });

        //提交修改后的数据
        form.on('submit(formUserSubmit)',(fromData)=>{
            //打印数据
            console.log(fromData);

            //声明一个新的对象
            var upFormData=new FormData();
            //把layui form返回json格式数据转为 FormData
            // x是指被循环对象的属性名称
            //js的数组是特殊对象，x就是 索引 0,1,2,3.....
            for (var x in fromData.field) {
                //append(名称，值)
                upFormData.append(x,fromData.field[x])
            }
            //把文件添加到upFormData
            var file = $("#upPortrait").get(0).files[0];
            upFormData.append("portraitFile",file);

            //打开加载层
            var layerIndex = layer.load();
            /*包含图片，为了不让layui进行内部修改，用ajax提交*/
            $.ajax({
                type: "POST",//文件上传 只能是post
                url: '/profile/update',
                data: upFormData,
                cache:false,
                processData:false,//禁止jquery对上传的数据进行处理
                contentType: false,
                dataType:'json',
                success:(jsonMsg)=>{
                    //关闭加载层
                    layer.close(layerIndex);
                    //修改成功
                    if (jsonMsg.state){
                        layer.msg(jsonMsg.msg,{icon:6});
                        //关闭弹出层
                        layer.close(layuiIndexform);
                        //刷新的页面
                        window.location.reload();
                    }else {
                        layer.msg(jsonMsg.msg,{icon:5});
                    }
                }
            })
            return false;//阻止表单跳转
        })

        //注销(逻辑删除)
        $("#btn_log_off").click(function () {
            layer.confirm("您确定要注销吗？一旦注销不可撤回", {icon: 3, title: "提示"}, function (index) {
                layer.close(index);//关闭询问框
                //获取参数
                var layerIndex = layer.load();//打开加载层
                $.post("/profile/deleteByUserId", function (jsonMsg) {
                    layer.close(layerIndex);//关闭加载层
                    if (jsonMsg.state) {
                        layer.msg(jsonMsg.msg, {
                            icon: 6, time: 1000, end: function () {
                                window.location.replace("/login");
                            }
                        });
                    } else {
                        layer.msg(jsonMsg.msg, {icon: 5});
                    }
                })
            })
        })
    });

    //图片上传部分
    //双击图片弹出文件选择框
    $("#userPicture").dblclick(function () {
        $("#upPortrait").click();
    });
    //图片文件 正则表达式过滤image/jpeg,image/png,image/jpg,image/gif,image/bmp
    var regexImageFilter = /^(?:image\/bmp|image\/gif|image\/jpg|image\/jpeg|image\/png)$/i;
    var imgReader = new FileReader();

    //文件读取器读取到文件后的回调事件
    imgReader.onload = function (event) {
        //显示图片 base64编码的图片
        $("#userPicture").attr("src", event.target.result);
    }
    //图片选择框
    $("#upPortraitDiv").on('change','input[type="file"]',function () {
        //获取出文件选择器中的第一个文件
        var file = $("#upPortrait").get(0).files[0];
        //判断文件选择类型
        if (regexImageFilter.test(file.type)) {
            //读取文件转换成URL把图片转为Base64编码
            imgReader.readAsDataURL(file);
        } else {
            layer.alert("请选择图片");
        }
    });
</script>
</html>